{% extends 'base.html.twig' %}

{% block title %}Restaurant
{% endblock %}

{% block body %}
	<body>
		<section class="services">
			<h2 id="services">Le Spa</h2>
			<div class="cards">
				<div class="card">
					<img src="{{asset('assets/img/spa.jpg')}}" alt="chambres" class="mb-3"/>
					<div style="height: 200px; color: #fff">
						<h3 class="text-center text-dark">Soin Détente</h3>
						<p>
							Un voyage sensoriel vers la plénitude où chaque instant est une caresse pour le corps et l'esprit
						</p>
					</div>
				</div>
				<div class="card">
					<img src="{{asset('assets/img/spa2.jpg')}}" alt="chambres" class="mb-3"/>
					<h3 class="text-center text-dark">Soin Relaxant</h3>
					<p>
						Plongez dans un oasis de calme et laissez-vous envelopper par des soins relaxants d'une douceur exquise
					</p>
				</div>
				<div class="card">
					<img src="{{asset('assets/img/spa1.jpg')}}" alt="chambres" class="mb-3"/>
					<h3 class="text-center text-dark">Soin Plaisir</h3>
					<p>
						Découvrez une expérience sensorielle envoûtante où le plaisir des soins se mêle à la douceur de l'évasion
					</p>
				</div>
			</div>
		</section>
		<footer></footer>
	</body>
{% endblock %}
