{% extends 'base.html.twig' %} {% block title %}Hello MailerController!{%
endblock %} {% block carousel %} {% endblock %} 
{% block body %}
<div class="container">
  <h1 class="text-center">E-mail envoyé</h1>
</div>

{% endblock %}
